#empty-comp {
    width: 100%;
    margin: 15px auto;

    img#empty-comp-img{
        display: block;
        width: 50%;
        margin: inherit;
    }

    a#empty-comp-link {
        margin: 2% 0  0 25%;
    }
}