footer {
    ul > li{
        list-style-type: none;
        margin: 5px auto;
        a {
            color: #f8f9fa;
            text-decoration: none;
        }
    }

    hr {
        margin: 5% auto;
    }
}