#product-detail {

    img {
        margin-top: unset;
    }

    #finish-action a.btn {
        width: 100%;
    }
}

@media (min-width: 768px) {
    #product-detail {
        margin: 15% auto;
    }
}

@media (min-width: 992px) {
    #product-detail {
        margin: 7.5% auto;
    }
}