@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

@import "./theme";

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import "../../node_modules/react-toastify/dist/ReactToastify.min.css";

* {
    box-sizing: border-box;
}

.bg-translucid {
    backdrop-filter: blur(5px);
}

#pageFormat {
    width: 100%;
    height: 95vh;

    display: flex;
    justify-content: center;
    align-items: center;

    &>.spinner-border {
        width: 100px;
        height: 100px;
    }
}

#itemFormat {
    width: 100%;
    height: 200px;

    margin: 15px auto;

    display: flex;
    justify-content: center;
    align-items: center;

    &>.spinner-border {
        width: 50px;
        height: 50px;
    }
}

.main-page-margin {
    margin: 75px auto;
}

#wrap-card {
    div.card#center-card{
        width: 400px;
        margin: 35% auto;
    }
}


@media (min-width: 768px) {
    .main-page-margin {
        margin: 15% auto;
    }
    #wrap-card {
        div.card#center-card-form {
            width: 700px;
            margin: 25% auto;
        }
    }
}


@media (min-width: 992px) {
    .main-page-margin {
        margin: 7.5% auto;
    }
    #wrap-card {
        div.card#center-card-form {
            width: 600px;
            margin: 15% auto;
        }
    }
}